<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jesper.mapper.CliOrderMapper">
  <resultMap id="BaseResultMap" type="com.jesper.model.CliOrder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="hotol_id" jdbcType="INTEGER" property="hotolId" />
    <result column="room_id" jdbcType="INTEGER" property="roomId" />
    <result column="client_id" jdbcType="INTEGER" property="clientId" />
    <result column="cateate_date" jdbcType="TIMESTAMP" property="cateateDate" />
    <result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="deposi" jdbcType="INTEGER" property="deposi" />
    <result column="totalprice" jdbcType="INTEGER" property="totalprice" />
    <result column="sign" jdbcType="INTEGER" property="sign" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="flag1" jdbcType="VARCHAR" property="flag1" />
    <result column="falg2" jdbcType="VARCHAR" property="falg2" />
    <result column="flag3" jdbcType="VARCHAR" property="flag3" />
    <result column="flag4" jdbcType="VARCHAR" property="flag4" />
    <result column="flag5" jdbcType="VARCHAR" property="flag5" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, hotol_id, room_id, client_id, cateate_date, end_date, count, deposi, totalprice, 
    sign, status, content, flag1, falg2, flag3, flag4, flag5
  </sql>
  <select id="selectByExample" parameterType="com.jesper.model.CliOrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cli_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cli_order
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="findByHotolid" resultMap="BaseResultMap">

    select distinct client_id  from  cli_order   where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cli_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jesper.model.CliOrderExample">
    delete from cli_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jesper.model.CliOrder">
    insert into cli_order (id, hotol_id, room_id, 
      client_id, cateate_date, end_date, 
      count, deposi, totalprice, 
      sign, status, content, 
      flag1, falg2, flag3, 
      flag4, flag5)
    values (#{id,jdbcType=INTEGER}, #{hotolId,jdbcType=INTEGER}, #{roomId,jdbcType=INTEGER}, 
      #{clientId,jdbcType=INTEGER}, #{cateateDate,jdbcType=TIMESTAMP}, #{endDate,jdbcType=TIMESTAMP}, 
      #{count,jdbcType=INTEGER}, #{deposi,jdbcType=INTEGER}, #{totalprice,jdbcType=INTEGER}, 
      #{sign,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{flag1,jdbcType=VARCHAR}, #{falg2,jdbcType=VARCHAR}, #{flag3,jdbcType=VARCHAR}, 
      #{flag4,jdbcType=VARCHAR}, #{flag5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jesper.model.CliOrder">
    insert into cli_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="hotolId != null">
        hotol_id,
      </if>
      <if test="roomId != null">
        room_id,
      </if>
      <if test="clientId != null">
        client_id,
      </if>
      <if test="cateateDate != null">
        cateate_date,
      </if>
      <if test="endDate != null">
        end_date,
      </if>
      <if test="count != null">
        count,
      </if>
      <if test="deposi != null">
        deposi,
      </if>
      <if test="totalprice != null">
        totalprice,
      </if>
      <if test="sign != null">
        sign,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="flag1 != null">
        flag1,
      </if>
      <if test="falg2 != null">
        falg2,
      </if>
      <if test="flag3 != null">
        flag3,
      </if>
      <if test="flag4 != null">
        flag4,
      </if>
      <if test="flag5 != null">
        flag5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="hotolId != null">
        #{hotolId,jdbcType=INTEGER},
      </if>
      <if test="roomId != null">
        #{roomId,jdbcType=INTEGER},
      </if>
      <if test="clientId != null">
        #{clientId,jdbcType=INTEGER},
      </if>
      <if test="cateateDate != null">
        #{cateateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
      <if test="deposi != null">
        #{deposi,jdbcType=INTEGER},
      </if>
      <if test="totalprice != null">
        #{totalprice,jdbcType=INTEGER},
      </if>
      <if test="sign != null">
        #{sign,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="flag1 != null">
        #{flag1,jdbcType=VARCHAR},
      </if>
      <if test="falg2 != null">
        #{falg2,jdbcType=VARCHAR},
      </if>
      <if test="flag3 != null">
        #{flag3,jdbcType=VARCHAR},
      </if>
      <if test="flag4 != null">
        #{flag4,jdbcType=VARCHAR},
      </if>
      <if test="flag5 != null">
        #{flag5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jesper.model.CliOrderExample" resultType="java.lang.Integer">
    select count(*) from cli_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cli_order
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.hotolId != null">
        hotol_id = #{record.hotolId,jdbcType=INTEGER},
      </if>
      <if test="record.roomId != null">
        room_id = #{record.roomId,jdbcType=INTEGER},
      </if>
      <if test="record.clientId != null">
        client_id = #{record.clientId,jdbcType=INTEGER},
      </if>
      <if test="record.cateateDate != null">
        cateate_date = #{record.cateateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endDate != null">
        end_date = #{record.endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.count != null">
        count = #{record.count,jdbcType=INTEGER},
      </if>
      <if test="record.deposi != null">
        deposi = #{record.deposi,jdbcType=INTEGER},
      </if>
      <if test="record.totalprice != null">
        totalprice = #{record.totalprice,jdbcType=INTEGER},
      </if>
      <if test="record.sign != null">
        sign = #{record.sign,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.flag1 != null">
        flag1 = #{record.flag1,jdbcType=VARCHAR},
      </if>
      <if test="record.falg2 != null">
        falg2 = #{record.falg2,jdbcType=VARCHAR},
      </if>
      <if test="record.flag3 != null">
        flag3 = #{record.flag3,jdbcType=VARCHAR},
      </if>
      <if test="record.flag4 != null">
        flag4 = #{record.flag4,jdbcType=VARCHAR},
      </if>
      <if test="record.flag5 != null">
        flag5 = #{record.flag5,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <update id="updateByExample" parameterType="map">
    update cli_order
    set id = #{record.id,jdbcType=INTEGER},
      hotol_id = #{record.hotolId,jdbcType=INTEGER},
      room_id = #{record.roomId,jdbcType=INTEGER},
      client_id = #{record.clientId,jdbcType=INTEGER},
      cateate_date = #{record.cateateDate,jdbcType=TIMESTAMP},
      end_date = #{record.endDate,jdbcType=TIMESTAMP},
      count = #{record.count,jdbcType=INTEGER},
      deposi = #{record.deposi,jdbcType=INTEGER},
      totalprice = #{record.totalprice,jdbcType=INTEGER},
      sign = #{record.sign,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER},
      content = #{record.content,jdbcType=VARCHAR},
      flag1 = #{record.flag1,jdbcType=VARCHAR},
      falg2 = #{record.falg2,jdbcType=VARCHAR},
      flag3 = #{record.flag3,jdbcType=VARCHAR},
      flag4 = #{record.flag4,jdbcType=VARCHAR},
      flag5 = #{record.flag5,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jesper.model.CliOrder">
    update cli_order
    <set>
      <if test="hotolId != null">
        hotol_id = #{hotolId,jdbcType=INTEGER},
      </if>
      <if test="roomId != null">
        room_id = #{roomId,jdbcType=INTEGER},
      </if>
      <if test="clientId != null">
        client_id = #{clientId,jdbcType=INTEGER},
      </if>
      <if test="cateateDate != null">
        cateate_date = #{cateateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="count != null">
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="deposi != null">
        deposi = #{deposi,jdbcType=INTEGER},
      </if>
      <if test="totalprice != null">
        totalprice = #{totalprice,jdbcType=INTEGER},
      </if>
      <if test="sign != null">
        sign = #{sign,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="flag1 != null">
        flag1 = #{flag1,jdbcType=VARCHAR},
      </if>
      <if test="falg2 != null">
        falg2 = #{falg2,jdbcType=VARCHAR},
      </if>
      <if test="flag3 != null">
        flag3 = #{flag3,jdbcType=VARCHAR},
      </if>
      <if test="flag4 != null">
        flag4 = #{flag4,jdbcType=VARCHAR},
      </if>
      <if test="flag5 != null">
        flag5 = #{flag5,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jesper.model.CliOrder">
    update cli_order
    set hotol_id = #{hotolId,jdbcType=INTEGER},
      room_id = #{roomId,jdbcType=INTEGER},
      client_id = #{clientId,jdbcType=INTEGER},
      cateate_date = #{cateateDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP},
      count = #{count,jdbcType=INTEGER},
      deposi = #{deposi,jdbcType=INTEGER},
      totalprice = #{totalprice,jdbcType=INTEGER},
      sign = #{sign,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      flag1 = #{flag1,jdbcType=VARCHAR},
      falg2 = #{falg2,jdbcType=VARCHAR},
      flag3 = #{flag3,jdbcType=VARCHAR},
      flag4 = #{flag4,jdbcType=VARCHAR},
      flag5 = #{flag5,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>