<!-- 底部 -->
<html  xmlns:th="http://www.w3.org/1999/xhtml">

<script src="/static/hotel/layui/dist/layui.js"></script>
<div class="fly-footer" th:fragment="foot" >
			<p><a href="http://www.lggcmy.cn/">友情连接</a> 2018 © <a href="http://www.lggcmy.cn/">lggcmy.cn</a></p>
			<p> 
			友情链接
			<a href="http://java.lggcmy.cn" target="_blank">友情连接</a>
			<a href="http://www.lggcmy.cn/code/list/all/1/20.html" target="_blank">友情连接</a>
				<a href="http://www.lggcmy.cn/market/list/all/1/20.html" target="_blank">友情连接</a>
				<a href="http://www.lggcmy.cn/resumetemplate/list/1/20.html" target="_blank">友情连接</a>
				<a href="http://www.lggcmy.cn/forum/list/0/1/20.html" target="_blank">友情连接</a> </p>
			
</div>
<script src="/static/hotel/layui/dist/layui.js"></script>
  <script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "https://hm.baidu.com/hm.js?b7f5096cbfe2b528bc14a1b1d84d5c9c";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
  </script>

</html>