

<div id="LAY-topbar" style="height: auto;" >
				<form action="/hotel/search" method="post">
					<div class="input-search">
						<div> <input type="text" placeholder="搜索你需要的房间" name="keywords" autocomplete="off" value="${keywords!}"><button class="layui-btn layui-btn-shop"><i
								 class="layui-icon layui-icon-search"></i></button>
							
						</div>
						<div class="layui-container layui-hide-xs"> <a href="https://www.layui.com/" class="topbar-logo"> <img src="/static/hotel/images/logo-1.png"
								 alt="layui"> </a> </div>
					</div>
				</form>
</div>
